<footer>
  <div class="container">
    <div class="row">
    <div class="col-sm-5">
      <a href="https://computermusic.org.au">
        <img src="{{site.baseurl}}/assets/images/amca-logo-footer.jpg"
             style="width: 100%">
      </a>
    </div>
    <div class="col-sm-5" style="border-left: thin solid #000000;">
      <a href="https://cecs.anu.edu.au">
        <img src="{{site.baseurl}}/assets/images/anu-logo-footer.jpg"
             style="width: 100%">
      </a>
    </div>
    </div>
    <div class="row">
      <p>Copyright &copy; Australasian Computer Music Association {{ site.time | date: '%Y' }}</p>
    </div>
  </div>
</footer>
